body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #fff0f6, #ffe6f0);
    color: #333;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #ff66a3;
    color: white;
    text-align: center;
    padding: 30px 10px;
  }
  header img {
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 10px;
    box-shadow:0 4px 10px #ffe6f0;
  }
  section {
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.2);
  }
  h2 {
    color: #ff4d8d;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ul li {
    background: #ffe6f0;
    margin: 8px 0;
    padding: 10px;
    border-radius: 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff7fb;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ffb6c1;
    color: #a30052;
  }
  th {
    background-color: #ff66a3;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #ffe6f0;
  }
  footer {
    background-color: #ff66a3;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
  }
  footer a {
    color: white;
    text-decoration: underline;
  }
  