body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #fff0f6, #ffe6f0);
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
  }
  header {
    text-align: center;
    background-color: #ff66a3;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(255, 102, 163, 0.3);
   font-size: 14px;
  }
  header nav {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }
  header nav a {
    color: white;
    background-color: #ff85b3;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  header nav a:hover {
    background-color: white;
    color: #ff66a3;
    transform: scale(1.1);
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  }
 h1 {
    font-size: 2.2em;
    letter-spacing: 1px;
    padding:2px;
    font-size: 15px;

  }
  header .photo-profil {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7);
    border: 3px solid white;
  }
  
  .cadre {
    max-width: 700px;
    background-color: #fff;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(255, 102, 163, 0.2);
    border: 2px solid #ffb6c1;
  }
  .cadre h2 {
    color: #ff66a3;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  .cadre p {
    font-size: 1.1em;
    margin-bottom: 15px;
    text-align: justify;
  }
  footer {
    background-color: #ff66a3;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 1em;
    box-shadow: 0 -4px 10px rgba(255, 102, 163, 0.2);
  }
  @media (max-width: 480px) {
    .cadre {
      width: 85%;
      padding: 25px;
    }
  
    header h1 {
      font-size: 1.8em;
    }
  
    .cadre h2 {
      font-size: 1.5em;
    }
    h1{
      display: none;
    }
  }
  